@model Tangy.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<h2>Menu Item Details</h2>
<hr />
<form method="post">
    <input asp-for="MenuItemId" hidden />
    <div class="form-border row">
        <div class="col-8">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="MenuItem.Description" style="height:150px;" class="form-control" readonly></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control" disabled></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Category" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Category.Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategory" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.SubCategory.Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Count" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    <button type="submit" value="Add to Cart" class="btn btn-primary">Add To Cart</button>
                    <a asp-action="Index" class="btn btn-success">Back to list</a>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}