
@{
    ViewData["Title"] = "DownloadOrderDetails";
}

<h2>Download Order Details</h2>
<br />

<form method="get">
    <div class="container border p-3">
        <h3>Select Date Range</h3>
        <div class="row">
            <div class="col-4">
                <label class="custom-label">Start Date</label>
            </div>
            <div class="col-4">
                @Html.Editor("startDate", new { htmlAttributes = new { @id = "datePickerStart", @class = "form-control" } })
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="custom-label">End Date</label>
            </div>
            <div class="col-4">
                @Html.Editor("endDate", new { htmlAttributes = new { @id = "datePickerEnd", @class = "form-control" } })
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-primary">Download Order Details</button>




</form>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            var dateFormat = "mm/dd/yy",
                from = $("#datePickerStart")
                    .datepicker({
                        changeMonth: true,
                        changeYear: true,
                        maxDate: "+0D"
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#datePickerEnd").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    changeYear: true,
                    maxDate: "+0D"

                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>




}